<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
    <main>
        <nav>
            <a href="https://weathertodayapp.herokuapp.com/">Go Back To Home</a>
        </nav>
        <h1 class="a">Place: {{p}}</h1>
        <h1 class="b">Condition: {{c}}</h1>
        <h1 class="c">Temperature: {{a}}</h1>
        <h1 class="d">Minimum Temperature: {{min}}</h1>
        <h1 class="e">Maximum Temperature: {{max}}</h1>
        <h1 class="f">Pressure: {{pr}}</h1>
        <h1 class="g">Humidity: {{h}}</h1>
        <h1 class="h">Sunrise: {{sr}}</h1>
        <h1 class="i">Sunset: {{ss}}</h1>
        <h1 class="j">Wind: {{w}}</h1>
    </main>
    
</body>
</html>